@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', 'arial', sans-serif;
}

body {
    background: #e0e0e0;
    text-align: center;
}
