.its-main {
    display: inline-block;
    min-width: 320px;
    width: 720px;
    max-width: 720px;
    padding: 40px;
    background: #eeeeee;
}

.its-main h2 {
    font-size: 32px;
    margin: 10px;
}

.its-main h4 {
    font-size: 24px;
    margin: 8px;
}

.its-main p {
    font-size: 16px;
    line-height: 22px;
    margin: 8px;
}

.its-main ul {
    margin: 8px;
}

.its-main ul li {
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    list-style-position: inside;
    list-style-type: square;
}

.its-main label {
    width: 100%;
}

.its-main input {
    margin: 8px 4px;
    width: calc(100% - 20px);
    border: 2px solid #212121;
    padding: 4px;
}

.its-main button {
    font-size: 16px;
    line-height: 22px;
}

.its-main button.its-button-step {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 4px;
    font-size: 24px;
    border-radius: 40px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.its-main button.its-button-main {
    display: inline-block;
    border-radius: 4px;
    min-width: 180px;
    max-width: 50%;
    padding: 8px 12px;
    margin: 4px;
    background: #0091EA;
    color: #eeeeee;
    border: none;
    outline: none;
    cursor: pointer;
}

.its-main button.its-button-main.--selected {
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -moz-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -o-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -ms-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -webkit-transition: box-shadow 800ms;
    -ms-transition: box-shadow 800ms;
    -o-transition: box-shadow 800ms;
    -moz-transition: box-shadow 800ms;
    transition: box-shadow 800ms;
}

.its-main button.its-button-main.--unselected {
    opacity: 0.5;
    background: #212121;
}

.its-main button.its-button-text {
    display: inline-block;
    border-radius: 4px;
    padding: 4px;
    color: #0091EA;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.its-main table {
    width: 100%;
}

.its-main tr {
    line-height: 1.5;
}

.its-main .its-navigator-steps {
    width: 100%;
}

.its-main .its-navigator-steps__inner {
    position: relative;
    width: 100%;
    min-height: 768px;
    overflow-x: hidden;
    overflow-y: auto;
}

.its-main .its-navigator-steps__slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 300%;
    z-index: 1;
}

.its-main .its-navigator-steps__step {
    display: inline-block;
    vertical-align: top;
}

.its-main .its-check-wallet__text-button {
    text-align: right
}

.its-main .its-wallet-history-table {
    border: 2px solid #212121;
    border-radius: 2px;
}

.its-main .its-prove-you-are-human {
    text-align: center;
}

.its-main .its-prove-you-are-human__recaptcha {
    display: inline-block;
}

.its-main .--its-transition-transform {
    -webkit-transition: transform 200ms;
    -ms-transition: transform 200ms;
    -o-transition: transform 200ms;
    -moz-transition: transform 200ms;
    transition: transform 200ms;
}

.its-main .--its-transition-opacity {
    -webkit-transition: opacity 200ms;
    -ms-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    -moz-transition: opacity 200ms;
    transition: opacity 200ms;
}

.its-main .its-input-checkbox {
    position: relative;
    padding-left: 24px;
    margin: 8px 0;
}

.its-main .its-input-checkbox__label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 4px;
    left: 4px;
    background: none;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,.4);
}

.its-main .its-input-checkbox__label:after {
    content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #000000;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
}

.its-main .its-input-checkbox__label:hover::after {
    opacity: 0.3;
}

.its-main .its-input-checkbox__input {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.its-input-checkbox__paragraph {
    display: inline-block;
}

.its-main input[type=checkbox]:checked + .its-input-checkbox__label:after {
    opacity: 1;
}

.its-main .background-highlight {
    width: calc(100% - 32px);
    padding: 8px 12px;
    margin: 4px;
    background: rgba(0,145,234, 0.5);
    color: #eeeeee;
}

.validation-error {
    color: red;
}